html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: #F6F6F6;
    font-family: Helvetica, sans-serif;
    text-align: center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    position: sticky; /* Make the navigation sticky */
    top: 20px; /* Distance from the top of the viewport */
    align-self: flex-end; /* Align to the right */
    z-index: 8000; /* Ensure it stays above other content */
    margin-right: 80px; /* Add some spacing from the right edge */
    background: #F6F6F6;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #131010;
    font-size: 40px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #F0BB78;
}

.text-container {
    text-align: left;
    width: 89%;
    margin-bottom: 10px;
}

h1 {
    font-size: 80px;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    color: #131010;

}

p {
    font-size: 25px;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    animation-delay: 0.5s;
    color: #131010;
    
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    max-width: 1700px;
    width: 100%;
}

.card {
    position: relative;
    border: 0px solid #dddddd00;
    cursor: pointer;
    transition: z-index 0.3s ease; /* Smooth transition for z-index */
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease; /* Smooth zoom transition */
}

.card:hover {
    z-index: 10; /* Bring the hovered card to the front */
}

.card:hover img {
    transform: scale(1.05); /* Zoom in slightly on hover */
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 229, 230, 0.3); /* Transparent overlay */
    transition: background-color 0.3s ease;
    pointer-events: none; /* Ensures the overlay doesn't block hover */
    z-index: 1; /* Places the overlay above the image */
}

.card:hover::before {
    background-color: rgba(0, 123, 255, 0); /* Remove overlay on hover */
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #F6F6F6;
    text-align: center;
    opacity: 1;
    font-weight: bold;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Ensures the text doesn't interfere with hover */
    z-index: 2; /* Places the text above the overlay */
}

.card:hover .card-text {
    opacity: 0; /* Hide text on hover */
}


/* Image Container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    padding: 20px;
}

/* Image Grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust minmax for desired image width */
    gap: 20px; /* Space between images */
    max-width: 1700px; /* Maximum width of the grid */
    width: 100%;
    justify-content: center; /* Center the grid items */
}

.image-grid img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Smooth zoom transition */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.image-grid img:hover {
    transform: scale(1.05); /* Slightly zoom in on hover */
}



/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6c4; /* Semi-transparent black background */
    overflow: auto;
}

/* Modal content (image) */
.modal-content {
    display: block;
    margin: auto;
    max-width: 70%; /* Adjust this value as needed */
    max-height: 80vh; /* Adjust this value as needed */
    width: auto; /* Allow the width to adjust based on height */
    height: auto; /* Allow the height to adjust based on width */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain; /* Ensure the image fits within the container without distortion */
}

.modal-alt-text {
    position: absolute;
    bottom: 5%; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    color: #131010;
    font-size: 20px;
    text-align: center;
    padding: 5px 10px;
    font-family: Helvetica, sans-serif;
}


/* Navigation arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #131010;
    font-size: 120px;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    left: 30px;
    z-index: 1000;
}

.right-arrow {
    right: 30px;
    z-index: 1000;
}





.language-toggle button.active {
    color: #131010; /* Black color for the active button */
}


.language-toggle {
    display: flex; /* Align buttons horizontally */
    gap: 10px; /* Space between buttons */
    margin: 10px 0; /* Add some margin above and below the buttons */
    animation: fadeIn 3s ease-in-out forwards;
}

.language-toggle button {
    background: none;
    border: none;
    color: #F0BB78; /* Default text color */
    font-size: 15px; /* Slightly smaller than the header but larger than the text */
    font-weight: bold; /* Match the font weight of the navigation links */
    cursor: pointer;
    padding: 0; /* Remove padding to match the navigation links */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.language-toggle button:hover {
    color: #131010; /* Change text color on hover (matches the navigation links) */
}




/* Container for the videos */
.video-container {
    display: flex; /* Use Flexbox to align videos side by side */
    justify-content: space-between; /* Space out the videos */
    align-items: center; /* Center the videos vertically */
    width: 88%; /* Full width of the container */
    padding: 20px
    
    
}

/* Video styling */
.video {
    width: 49%; /* Slightly less than 50% to account for spacing */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the video covers the area without distortion */
}





/* Add this to your existing CSS */
.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
    padding: 20px;
}

.title-column {
    flex: 1;
    margin-right: 20px;
}

.content-column {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.text-container {
    margin-bottom: 20px;
}

.about-image {
    width: 70%;
    height: auto;
    align-self: center; /* Center the image vertically */
    margin-top: 160px; /* Add some top margin to move it down further */
    animation: fadeIn 3s ease-in-out forwards;

}





#contact {
    padding: 50px 0;
    text-align: center;
    font-family: Helvetica, sans-serif; /* Match the font of your website */
}

.contact-info {
    max-width: 800px;
    margin: 0 auto;
    font-size: 25px; /* Match the font size of your other text */
    color: #131010; /* Match the text color of your website */
}

.contact-info a {
    color: #131010; /* Match the text color of your website */
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #F0BB78; /* Match the hover color of your website */
}












@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media (max-width: 768px) {
    .video-container {
        flex-direction: column; /* Stack videos vertically on smaller screens */
        padding: 0px
    }
    .video {
        width: 100%; /* Full width for each video on mobile */
        margin-bottom: 10px; /* Add some space between stacked videos */
    }

    .about-container {
        flex-direction: column; /* Stack items vertically */
    }

    .text-container {
        margin-right: 0; /* Remove the right margin */
        margin-bottom: 20px; /* Add space between text and image */
    }

    .about-image {
        width: 100%; /* Make the image full width */
        margin-top: 0; /* Reset any top margin if needed */
        align-self: flex-start; /* Align the image to the left */
    }

    .projects-grid {
        grid-template-columns: 1fr;
        width: 100%;
    }

    header img {
        width: 75px;
    }

    nav {
        margin-right: 0px; /* Add some spacing from the right edge */
    }

    nav a {
        font-size: 20px;
    }


    h1 {
        font-size: 36px;
    }

    p {
        font-size: 15px;
    }

    .image-grid {
        grid-template-columns: 1fr; /* Stack images vertically on mobile */
    }

    .image-container {
        padding: 10px; /* Reduce padding on mobile */
    }

    .language-toggle button {
        font-size: 10px; /* Smaller font size for mobile */
    }
}


